/* Add a black background color to the top navigation */
.projectMenu {
  background-color: #aa49b4; /*#333;*/
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.projectMenu a {
  float: left;
  color: black; /*#f2f2f2;*/
  text-align: center;
  padding: 14px 16px;
  font: inherit;
  font-family: 'pixPixelFJVerdana12pt';
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.projectMenu a:hover {
  background-color: #ffe031;
  color: black;
}

/* Add a color to the active/current link */
.projectMenu a.active {
  background-color: purple; /*#4CAF50;*/
  color: white;
}

body {background-color: #e09be0;}

@font-face{
  font-family: 'pixPixelFJVerdana12pt';
  src: url('../css/fonts/pixPixelFJVerdana12pt.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('../css/fonts/pixPixelFJVerdana12pt.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  font: inherit;
  font-family: 'pixPixelFJVerdana12pt';
  background-color: #aa49b4;
  border-style: dashed;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #ffe031;
  transition: all .2s ease-in;
}

.button:active {
  background-color: #ffe031;
  box-shadow: 0 5px #777;
  transform: translateY(4px);
  
}



.container { 
  height: 200px;
  position: relative;
}



.QuestionContainer { 
  height: 25px;
  position: relative;
  border: 3px solid #e09be0; 
}

.QuestionContainers { 
  height: 100px;
  position: relative;
  border: 3px solid #e09be0; 
}

.questionText {
  text-align:center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  background-color: white; /* #4CAF50;  */
  border: 3px solid red;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.centerGameCodeText {
  text-align:center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  background-color: yellow ; /* #4CAF50;  */
  border: 3px solid red;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;


}

.enterQuestionContainer{
  text-align:center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  background-color: yellow ; /* #4CAF50;  */
  border: 3px solid red;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;


}

.centerImage {
  
  text-align:center;
  padding-top: 20px;
}

.centerText {

  text-align:center;
  margin: 0;
  position: absolute;
  font: inherit;
  font-family: 'pixPixelFJVerdana12pt';
  top: 120%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size:15px;
}

.centerQuestionText {

  text-align:center;
  margin: 0;
  position: relative;
  font: inherit;
  font-family: 'pixPixelFJVerdana12pt';
  font-size:15px;
  transform: translate(0, 400%);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, [col-start] 1fr);
  gap: 10px;
  padding: 10px;
}

.button-grid > div{
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
}

:root {
  --hue-neutral: 55;
  --hue-wrong: 0;
  --hue-correct: 145;
}